name: Lint Commit Messages

on: [push, pull_request]

jobs:
  check-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Commit Linter
        uses: wagoid/commitlint-github-action@v5
